.nav_background {
  background-color: #1d1d1d;
}

.pointer {
  cursor: pointer;
}

.btn_background {
  background-color: #ff5581;
}

.btn:hover {
  text-decoration: none;
  background-color: #ff3c6e;
}

.fa.fa-user-circle {
  color: #1d1d1d;
  font-size: 10rem;
  position: relative;
}

.card_header_color {
  background-color: #1d1d1d;
}

.margin-top {
  margin-top: 12%;
}

.container-fluid-admin {
  margin-top: 5%;
}

.card-admin-user {
  width: 65%;
  margin: 0 auto;
}

img {
  height: 128px;
  width: 128px;
  vertical-align: middle;
  margin-top: 30%;
  margin-left: 20%;
}
